@value mainDark, textDark from '../../common/colors.css';

.title {
  text-align: center;
  margin: 0;
  font-size: 4rem;
}

.scores {
  display: flex;
}

.scoreBox {
  width: 100%;
  height: fit-content;
  padding: 0.3em 1.5em;
  margin: 0.5em;
  text-align: center;
  background-color: mainDark;
  font-weight: bold;
  border-radius: 5px;
}

.scoreTitle {
  color: textDark;
}

.scoreValue {
  color: white;
  font-size: 1.7rem;
}

.gameIntro {
  margin-top: 0.5em;
  align-items: center;
}

.game_desc {
  color: colorTextDark;
}

.btnRetry {
  padding: 0.5em 0.8em;
  font-weight: bold;
  font-size: 1.2rem;
  color: colorTextBright;
  background-color: colorSub;
  border-radius: 3px;
}
